.navbar {
    z-index: 2;

    display: inline-flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    height: 10%;
    /* background-image: linear-gradient(to right, rgb(208, 26, 26) , rgb(165, 0, 0)); */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo {
    height: 4.5em;
    padding: 1.5em;
}